// ****************************** colors ****************************

$basic-font-color: #000;
$header-font-color: #000020;
$brightest-font-color: #fff;

$basic-border-color: #7D7D82;

$basic-background: #000;
$border-background: #F0F0F0;
$border-darken-barkcground: #d0d0d0;

$accent-color: #b5aa36;
$accent-color-second: #7F0000;
//********************************helpers*****************************

@mixin border-table {
	border: 2px solid $basic-background;
	background-color: $border-background;
}

@mixin center-text{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
@mixin absolute-position ($top, $right){
	position: absolute;
	top: $top;
	left: $right;
}

@mixin headers ($font-size, $color, $font-family: 'Open Sans'){
	color: $color;
	font-size: $font-size;
	font-family: $font-family;	
}

@mixin buttons ($bg-color, $font-color){
	padding: 5px 15px;
	background-color: $bg-color;
	color: $font-color;
	border-radius: 5px;
}

//********************************style********************************
body{
	@include center-text;
}
#calendar-container {
	background-color: $basic-background;
	width: 80%;
	min-width: 750px;
	max-width: 1000px;
	@include center-text;
	padding: 20px 0;
}

//naglowek kalendarza
#calendar-header{
	width: 90%;
	@include center-text;
}
#year{
	@include headers (40px, $accent-color, 'Fjalla One');
	display: inline;
	position:relative;
	letter-spacing: 5px;
	padding: 3px 30px;
	
	border-bottom: 2px solid #fff;
}

#month{
	text-align: left;
	@include headers (100px, $brightest-font-color, 'Fjalla One');
	font-style: uppercase;
	letter-spacing: 5px;
}
.change-month{ 
	text-align: left;
	display: inline-block;
	width: 49%;
	font-size: 30px;
}
.icon-prev {
	float: left;
	width: 30px;

}
.icon-next {
	float: right;
	width: 30px;
}

#day-message{
	font-family: 'Open Sans';
	font-size: 17px;
	letter-spacing: 1px;
	color: $brightest-font-color;
	text-align: right;
}


//Tablica kalendarza
#calendar {
	@include center-text;
	min-width: 700px;
	width: 90%;
	margin-top: 40px;
	font-family: 'Open Sans';
	td {
		@include border-table;
		min-width: 100px;
		width: 14%;
		height: 100px;
	}
	tbody td {
		vertical-align: top;
		&:nth-child(6), &:nth-child(7){
			background:repeating-linear-gradient(-45deg, lighten($accent-color-second, 64% ), lighten($accent-color-second, 64% ) 4px, $border-background 4px, $border-background 8px);

		}
	}
	thead td{
		background-color: $basic-background;
		@include headers (15px, $brightest-font-color, 'Open Sans');
		font-weight: 600;
		height: 45px;
	}
}
.empty {
	background:repeating-linear-gradient(-45deg, lighten($accent-color, 30% ), lighten($accent-color, 30% ) 4px, $border-background 4px, $border-background 8px);
}
.dayNumber {
	@include headers (15px, $basic-font-color)
	font-weight: 600;
	text-align: left;
	padding: 5px 0 5px 15px;
	display: inline-block;
	width: 49%;
}
.fa {
	display: block;
	padding: 5px;
	color: $accent-color; 
	cursor: pointer;

}
.icon-add-event{
	text-align: right;	
	font-size: 20px;
	display: inline-block;
	width: 49%;
}


hr {
	margin: 5px 0;
	border-top: 4px solid $brightest-font-color;
}

